<div class="container" id="post-page">
  <div ng-show="$ctrl.loading.post" class="loading animated rubberBand infinite"></div>
  <div ng-hide="$ctrl.loading.post">
    <div class="col-xs-12 alert alert-danger" ng-show="$ctrl.errors.post">
      <p> An error occured loading post. </p>
      <a href="" ng-click="$ctrl.getPost()"> Retry </a>
    </div>
    <div ng-if="$ctrl.post">
      <h1 ng-bind="$ctrl.post.title"></h1>
      <button class="btn btn-xs" type="button"
        ng-repeat="tag in $ctrl.post.tags"
        ui-sref="tags({ tag: tag })"
        ng-bind="tag">
      </button>
      <hr />
      <div ng-html="$ctrl.preview()"></div>
    </div>
  </div>
  <hr/>
  <div class="fb-share-button"
    data-href="http://marksantiago.herokuapp.com/post/{{$ctrl.$state.params.id}}"
    data-layout="button">
  </div>
</div>
