<div ng-controller="NavbarController">
  <div class="container">
    <div class="col-xs-12">
      <div class="profile-picture"
        ng-class="{ 'animated swing': profile_picture_hover }"
        ng-mouseenter="profile_picture_hover = true"
        ng-mouseleave="profile_picture_hover = false">
        <img src="/assets/images/profile-picture.jpg" />
      </div>
      <div class="header">
        <h1> Tong-tong-tong-teng </h1>
        <p class="hidden-xs">
          <i> pakitong-kitong, alimango sa dagat ... </i>
        </p>
      </div>
      <div id="menu">
        <a ng-class="{ ' swing animated': info_hover }"
          ng-mouseenter="info_hover = true"
          ng-mouseleave="info_hover = false"
          uib-tooltip="Personal Blog"
          tooltip-placement="bottom"
          ui-sref="tags({ tag: '' })">
          <i class="fa fa-user"></i>
        </a>
        <a ng-class="{ ' swing animated': travel_hover }"
          ng-mouseenter="travel_hover = true"
          ng-mouseleave="travel_hover = false"
          uib-tooltip="Travel Blog"
          tooltip-placement="bottom"
          ui-sref="tags({ tag: 'travel' })">
          <i class="fa fa-plane"></i>
        </a>
        <a ng-class="{ ' swing animated': food_hover }"
          ng-mouseenter="food_hover = true"
          ng-mouseleave="food_hover = false"
          uib-tooltip="Food Blog"
          tooltip-placement="bottom"
          ui-sref="tags({ tag: 'food' })">
          <i class="fa fa-spoon"></i>
        </a>
        <a ng-class="{ ' swing animated': fitness_hover }"
          ng-mouseenter="fitness_hover = true"
          ng-mouseleave="fitness_hover = false"
          uib-tooltip="Sports Blog"
          tooltip-placement="bottom"
          ui-sref="tags({ tag: 'sports' })">
          <i class="fa fa-soccer-ball-o"></i>
        </a>
        <a ng-class="{ ' swing animated': story_hover }"
          ng-mouseenter="story_hover = true"
          ng-mouseleave="story_hover = false"
          uib-tooltip="Story Blog"
          tooltip-placement="bottom"
          ui-sref="tags({ tag: 'story' })">
          <i class="fa fa-book"></i>
        </a>
        <a ng-class="{ ' swing animated': contact_hover }"
          ng-mouseenter="contact_hover = true"
          ng-mouseleave="contact_hover = false"
          uib-tooltip="Contact"
          tooltip-placement="bottom"
          ui-sref="tags({ tag: '' })">
          <i class="fa fa-phone"></i>
        </a>
      </div>
    </div>
  </div>
</div>
